# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore macOS metadata
.DS_Store

# Ignore large raw images
*.tif
*.tiff

*.pdf

projects/project2/code/
# editor backup files
*.py~

projects/project3/code/
