# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore macOS metadata
.DS_Store

# Ignore large raw images
*.tif
*.tiff

*.pdf

projects/project2/code/
# editor backup files
*.py~

projects/project3/code/

# submissions nicht versionieren
projects/project3/submission/
projects/project3/submission.zip
*.zip


projects/project3/submission/
projects/project3/submission.zip
*.zip


# ignore submissions/zips
projects/project3/submission/
projects/project3/submission.zip
*.zip

projects/project3/submission/
projects/project3/submission.zip
*.zip
projects/project4/project4.zip
